<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Facture n° 2021-003</title>
    <link rel="stylesheet" href="{{ absolute_url('assets/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ absolute_url('assets/css/invoice.css') }}">
</head>
<body>
<table class="heading">
    <tr>
        <td>
            <img src="{{ absolute_url('assets/images/logo-art-emoi.png') }}" alt="" style="height: 150px;">
        </td>
        <td>
            <p><span class="address-header">SRL Art Émoi</span>
                <br>
                68 Lorcé<br>
                4987 Stoumont<br>
                +32 (0)478 64 09 26<br>
                info@art-emoi.be<br>
                TVA: BE 0772.459.302</p>
        </td>
    </tr>
</table>

<span class="invoice-number">FACTURE <span class="num">2021-003</span></span>
<table width="100%">
    <tr>
        <td>
            <table class="infos-dates">
                <tr>
                    <td>Date: </td><td>{{ "now"|format_datetime('short', 'none',locale='fr') }}</td>
                </tr>
                <tr>
                    <td>Echéance: </td><td>{{ "now"|format_datetime('short', 'none',locale='fr') }}</td>
                </tr>
                <tr>
                    <td>TVA Client: </td><td>BE 0648.789.457</td>
                </tr>
            </table>
        </td>
        <td>
            <table>
                <tr>
                    <td>My Web Creation</td>
                </tr>
                <tr>
                    <td>45, Rue des Tilleuls</td>
                </tr>
                <tr>
                    <td>1435 Hévillers</td>
                </tr>
                <tr>
                    <td>0471 95 23 08</td>
                </tr>
            </table>
        </td>
    </tr>
</table>

<table class="table table-content">
    <thead>
        <tr>
            <th scope="col">Description</th>
            <th scope="col">Quantité</th>
            <th scope="col">Prix Unitaire</th>
            <th scope="col">TVA (21.00 %)</th>
            <th scope="col">Montant</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Formation au carnet de deuil</td>
            <td>1</td>
            <td>{{ (190 - (190*0.21))|format_currency('EUR') }}</td>
            <td>{{ (190*0.21)|format_currency('EUR') }}</td>
            <td>190.00 €</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td class="total-amount">TOTAL:</td>
            <td class="total-amount">{{ 190|format_currency('EUR') }}</td>
        </tr>
    </tfoot>
</table>


<link rel="stylesheet" href="{{ absolute_url('assets/js/bootstrap.min.js') }}">
</body>
</html>
