{% extends 'admin/admin_base.html.twig' %}

{% block title %}Calendrier formations/ateliers{% endblock %}

{% block pageTitle %}Agenda des formations et ateliers{% endblock %}

{% block content %}
<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-content">
                        <div class="toolbar" style="margin-bottom: 2rem;">
                            <!--Here you can write extra buttons/actions for the toolbar-->
                            <a class="btn btn-primary btn-fill btn-wd" href="{{ path('event_new') }}">Nouvel évènement</a>
                        </div>

                        <table id="workshopTable" class="table table-striped table-no-bordered table-hover" cellspacing="0" width="100%" style="width:100%">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Du</th>
                                    <th>Au</th>
                                    <th>Lieu</th>
                                    <th>Formation</th>
                                    <th>Durée</th>
                                    <th>Active</th>
                                    <th>Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for event in events %}
                                {% if event.archived == false %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ event.startDate ? event.startDate|format_datetime('medium', 'none',locale='fr') : '' }}</td>
                                        <td>{{ event.endDate ? event.endDate|format_datetime('medium', 'none',locale='fr') : '' }}</td>
                                        <td>{{ event.location.name }}</td>
                                        <td>{{ event.workshop.title }}</td>
                                        <td>{{ event.duration }}</td>
                                        <td>
                                            <div class="custom-control custom-switch">
                                                <input type="checkbox" class="custom-control-input" {{ (event.active) ? 'checked' : '' }} data-id="{{event.id}}">
                                            </div>
                                        </td>
                                        <td>
                                            <div>
                                                <a rel="tooltip" title="Modifier" class="btn btn-simple btn-warning btn-icon" href="{{ path('event_edit', {'id': event.id}) }}">
                                                    <i class="ti-pencil-alt"></i>
                                                </a>
                                                <form style="display: inline-block;" method="post" action="{{ path('event_delete', {'id': event.id}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cet évènement?');">
                                                    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ event.id) }}">
                                                    <button rel="tooltip" title="Supprimer" class="btn btn-simple btn-danger btn-icon"><i class="ti-close"></i></button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% else %}
                                <tr>
                                    <td colspan="6">Pas d'évènement en cours...</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div><!--  end card  -->
            </div> <!-- end col-md-12 -->
        </div> <!-- end row -->
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = () => {
            var checkboxes = document.querySelectorAll("input[type=checkbox]")

            for(let checkbox of checkboxes) {
                checkbox.addEventListener('click', function () {
                    console.log(checkbox)
                    var xmlhttp = new XMLHttpRequest;

                    xmlhttp.open("get", `/admin/event/${this.dataset.id}/activate`)
                    xmlhttp.send()
                })
            }
        };
    </script>
{% endblock %}
