{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block content %}

    <section class="hero-wrap hero-wrap-2" style="background-image: url('{{ asset('build/carnet_deuil_01.png') }}');" data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center">
                <div class="col-md-9 ftco-animate text-center">
                    <h1 class="mb-3 bread">Art Émoi</h1>
                    <p class="breadcrumbs"><span>Lieu d'ateliers, de thérapie, de formation et de ressourcement.</span></p>
                </div>
            </div>
        </div>
    </section>

    <section id="workshops" class="ftco-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-12 heading-section ftco-animate text-center">
                    <h2 class="mb-1">Ateliers et Formations</h2>
                </div>
            </div>
            <div class="row">
                {% for workshop in workshops %}
                    <div class="col-md-4">
                        <div class="classes w-100 ftco-animate">
                            {% if vich_uploader_asset(workshop, 'imageFile') is null %}
                                <a href="{{ path('front_workshop_infos', {'slug': workshop.slug}) }}" class="img w-100 mb-3" style="background-image: url('{{ asset('build/background_with_logo.png') }}');"></a>
                            {% else %}
                                <a href="{{ path('front_workshop_infos', {'slug': workshop.slug}) }}" class="img w-100 mb-3" style="background-image: url('{{ vich_uploader_asset(workshop, 'imageFile') | imagine_filter('workshop_jacket') }}');"></a>
                            {% endif %}
                            <div class="text w-100 text-left">
                                <h3><a href="{{ path('front_workshop_infos', {'slug': workshop.slug}) }}">{{ workshop.title }}</a></h3>
                                <div class="tagcloud">
                                    <a href="{{ path('front_workshop_infos', {'slug': workshop.slug}) }}" class="tag-cloud-link">Détails</a>
                                    {% set zoom = 0 %}
                                    {% set presentiel = 0 %}
                                    {% for event in workshop.events %}
                                        {% if date(event.startDate) > date() %}
                                            {% if event.presentiel %}
                                                {% set presentiel = 1 %}
                                            {% else %}
                                                {% set zoom = 1 %}
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if zoom == 1 %}
                                        <a href="{{ path('agenda_by_workshop', {'slug': workshop.slug, 'location': 'zoom'}) }}" class="tag-cloud-link">Dates sur zoom</a>
                                    {% endif %}
                                    {% if presentiel == 1 %}
                                        <a href="{{ path('agenda_by_workshop', {'slug': workshop.slug, 'location': 'presentiel'}) }}" class="tag-cloud-link">Dates en présentiel</a>
                                    {% endif %}
                                </div>
                                <p>{{ workshop.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </section>

    <section  class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mt-5 mb-5 pb-3">
                <div class="col-md-10 heading-section ftco-animate text-center">
                    <h2 class="mb-1">News</h2>
                </div>
            </div>
            <div class="row justify-content-md-center">
                <div class="col-md-12">
                    <div class="carousel-news owl-carousel">
                        {% for newsItem in news %}
                            <div class="item col-md-6 offset-md-3">
                                <div class="testimony-wrap p-5">
                                    <div class="text">
                                        <div class="line">
                                            <p class="mb-4 pb-1">{{ newsItem.content }}</p>
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                        <i class="fas fa-bullhorn fa-4x"></i>
                                                    </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="item">
                                <div class="testimony-wrap p-4">
                                    <div class="text">
                                        <div class="line">
                                            <p class="mb-4 pb-1">Pas de news pur le moment</p>
                                            <span class="quote d-flex align-items-center justify-content-center">
                                                <i class="fas fa-bullhorn"></i>
                                           </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </section>

{% endblock %}
