{% extends 'admin/admin_base.html.twig' %}

{% block title %}Commandes{% endblock %}

{% block pageTitle %}Commandes{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <table id="orders-table" class="table">
                                <thead>
                                    <th>#</th>
                                    <th>Référence</th>
                                    <th>Client</th>
                                    <th>Statut</th>
                                    <th>Article</th>
                                    <th>Format</th>
                                    <th>Date de l'évènement</th>
                                    <th>Prix</th>
                                    <th>Création</th>
                                </thead>
                                <tbody>
                                {% for order in orders %}
                                <tr>
                                    <td>{{ loop.index }}</td>
                                    <td>{{ order.uid }}</td>
                                    <td>{{ order.customer.name }}</td>
                                    <td>{{ order.status }}</td>
                                    <td>{{ order.event.product.title }}</td>
                                    <td>{{ order.event.present ? 'Présentiel' : 'Visioconférence' }}</td>
                                    <td>{{ order.event.startDate|format_datetime('medium', 'none',locale='fr') }}</td>
                                    <td>{{ (order.totalAmount)|format_currency('EUR') }}</td>
                                    <td>{{ order.createdAt|format_datetime('medium', 'medium',locale='fr') }}</td>
                                </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="9">Pas de commande</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    var $table = $('#orders-table');

    $table.bootstrapTable({
	    toolbar: ".toolbar",
        clickToSelect: true,
        showRefresh: true,
        search: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        searchAlign: 'left',
        pageSize: 8,
        clickToSelect: false,
        pageList: [8,10,25,50,100],

        formatShowingRows: function(pageFrom, pageTo, totalRows){
            //do nothing here, we don't want to show the text "showing x of y from..."
        },
        formatRecordsPerPage: function(pageNumber){
            return pageNumber + " rows visible";
        },
        icons: {
            refresh: 'fa fa-refresh',
            toggle: 'fa fa-th-list',
            columns: 'fa fa-columns',
            detailOpen: 'fa fa-plus-circle',
            detailClose: 'ti-close'
        }
    });
</script>
{% endblock %}