{% extends 'base.html.twig' %}

{% block title %}Carnet de deuil{% endblock %}

{% block content %}

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ftco-animate">
                    <h2 class="mb-3" style="font-size: 3rem;">Formation au carnet de deuil</h2>
                    <p>
                        Le deuil est un chemin, il se traverse en se remettant en mouvement, doucement, pas après pas, étape par étape.<br>
                        Le Carnet de deuil© permet d'accomplir le rite de passage que nécessite le deuil. <br>
                        Exprimer, explorer, vivre le deuil en profondeur grâce à la mobilisation de nos images intérieures et la création de pages artistiques symboliques permet une libération, une intégration, tout en honorant la valeur sacrée que peut représenter la perte.
                    </p>
                    <p>
                        <img src="{{ asset('build/carnet_de_deuil_01.png') }}" alt="" class="img-fluid">
                    </p>
                    <h2 class="mb-3">Il propose :</h2>
                        <ul>
                            <li>d'accepter la réalité du deuil</li>
                            <li>de vivre/exprimer la douleur du deuil et la transcender dans un travail artistique d'écriture, de collage, de peinture dans un carnet</li>
                            <li>de créer un livre objet, symbole du sacré du deuil et du chemin traversé</li>
                        </ul>
                    <p>
                        <iframe width="700" height="452" src="https://www.youtube.com/embed/ZqnIrWsLCRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                    </p>
                    <p>
                        Tous les participants sont guidés par des consignes claires et contenantes. <br>
                        Aucune prédisposition artistique n'est nécessaire. Les participants sont invités à prendre avec eux tout le matériel personnel lié au deuil (photos, photocopies, mots, images, souvenirs...), il sera utilisé et inclu au carnet. Le reste du matériel est fourni.
                    </p>
                    <h2 class="mb-3 mt-5">
                        Le Programme s'articule autour de deux axes
                    </h2>
                    <ul>
                        <li>L'axe expérientiel (pour tout public): il s'agit de vivre le carnet et de pratiquer les exercices proposés tout au long des 2 journées, afin d'en percevoir la portée symbolique et ses effets sur le vécu de perte.</li>
                    </ul>
                    <ul>
                        <li>L'axe théorico-clinique (pour professionels) : il s'agit de participer à une journée additionnelle, réservée aux professionnels qui souhaitent intégrer la méthode à leur pratique professionnelle.  Il s’agit de participer aux exposés théoriques liés à la thématique, de travailler sa posture d’accompagnant du deuil et de pratiquer des exercices de carnet de deuil autres que ceux vécus dans les carnet en deux jours.</li>
                    </ul>
                    <p>
                        2 journées de carnet de deuil (même s’il a été suivi lors d’un atelier animé par une personne certifiée, devenir animatrice/animateur en carnet de deuil nécessite de vivre le processus complet avec Nathalie Hanot)
                        1 journée de formation professionnelle additionnelle
                    </p>
                    <p>
                        <img src="{{ asset('build/carnet_de_deuil_02.png') }}" alt="" class="img-fluid">
                    </p>
                    <p>
                        Nathalie Hanot donne aux participant(e)s la possibilité de découvrir et de se former à ce programme afin de pouvoir l'utiliser dans leur pratique professionnelle d'accompagnement, en groupe et/ou en individuel pour des personnes endeuillées. Tout le matériel pour l’application de la formation dans sa pratique professionnelle est fourni.
                    </p>
                    <p>
                        Le carnet de deuil© est un outil d'accompagnement créé par Nathalie Hanot. La formation à cet outil lui est strictement réservée *
                    </p>
                </div> <!-- .col-md-8 -->

                <div class="col-lg-5 sidebar ftco-animate">
                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3 class="heading-2">Infos pratiques</h3>
                            <li>A distance par Zoom</li>
                            <li>En présentiel à Lorcé (4987 Stoumont)</li>
                            <li>Tous publics: 2 jours</li>
                            <li>Professionnels: 3 jours</li>
                            <li>De 9h30 à 17h00</li>
                            <li>€ 360.00 TTC</li>
                            <li>Animé par Nathalie Hanot</li>
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading-2">Prochaines sessions</h3>
                        {% for event in events %}
                            {% if event.workshop.title == 'Formation au carnet de deuil' %}
                                <div class="block-21 mb-4 d-flex">
                                    <div class="text">
                                        <div class="meta">
                                            <span class="icon-calendar"></span>
                                            Du {{ event.startDate|format_datetime('medium', 'none',locale='fr') }} au {{ event.endDate|format_datetime('medium', 'none',locale='fr') }} |
                                            <span class="icon-map-marker"></span>
                                            {{ event.location }}
                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        {% endfor %}
                        <a href="{{ path('front_registration') }}" class="btn btn-primary px-4 py-3">Inscriptions</a>
                    </div>


                </div>

            </div>
        </div>
    </section> <!-- .section -->
{% endblock %}
