{% extends 'base.html.twig' %}

{% block title %}{{ workshop.title }}{% endblock %}

{% block content %}

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 ftco-animate">

                    {% for article in workshop.articles %}
                        <h2 class="mb-3 mt-5">
                            {{ article.title }}
                        </h2>
                        <p>
                            {{ article.text|raw }}
                        </p>
                        <p>
                            {% if article.imageName %}
                                <img src="{{ vich_uploader_asset(article, 'imageFile') | imagine_filter('article_image') }}" alt="" class="img-fluid">
                            {% endif %}
                        </p>
                    {% endfor %}

                    {% if workshop.workshopVideos %}
                        {% for video in workshop.workshopVideos %}
                            <h2 class="mt-5">{{ video.title }}</h2>
                            {% if video.description %}<p>{{ video.description }}</p>{% endif %}
                            <div class="video-responsive mt-5">
                                <iframe width="560" height="315" src="{{ video.link }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                        {% endfor %}
                    {% endif %}

                </div>

                <div class="col-lg-5 sidebar ftco-animate">
                    <div class="sidebar-box ftco-animate">
                        <div class="categories">
                            <h3 class="heading-2">Infos pratiques</h3>
                            {% if workshop.workshopInfos %}
                            <li>
                                {% for location in workshop.workshopInfos.location %}
                                    {{ location.name }} |
                                {% endfor %}
                            </li>
                            <li>{{ workshop.workshopinfos.duration }}</li>
                            <li>De {{ workshop.workshopinfos.startAt|format_datetime('none', 'short',locale='fr') }} à {{ workshop.workshopinfos.stopAt|format_datetime('none', 'short',locale='fr') }}</li>
                            <li>{{ workshop.workshopinfos.price|format_currency('EUR') }} TTC</li>
                            <li>Animé par {{ workshop.workshopinfos.animator }}</li>
                            {% else %}
                            <li>Pas d'infos pour le moment</li>
                            {% endif %}
                        </div>
                    </div>

                    <div class="sidebar-box ftco-animate">
                        <h3 class="heading-2">Prochaines sessions</h3>
                        {% if events %}
                            {% for event in events %}
                                <div class="block-21 mb-4 d-flex">
                                    <div class="text">
                                        <div class="meta">
                                            <span class="icon-calendar"></span>
                                            {% if event.startDate != event.endDate %}
                                                Du {{ event.startDate|format_datetime('medium', 'none',locale='fr') }} au {{ event.endDate|format_datetime('medium', 'none',locale='fr') }} |
                                            {% else %}
                                                Le {{ event.startDate|format_datetime('medium', 'none',locale='fr') }}
                                            {% endif %}
                                            <span class="icon-map-marker"></span>
                                            {{ event.location }}
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div class="block-21 mb-4 d-flex">
                                <div class="text">
                                    <div class="meta">
                                       Pas de session pour le moment
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <a href="{{ path('front_registration') }}" class="btn btn-primary px-4 py-3">Inscriptions</a>
                    </div>


                </div>

            </div>
        </div>
    </section> <!-- .section -->
{% endblock %}
