{% extends 'base.html.twig' %}

{% block title %}Ouvrages{% endblock %}

{% block content %}

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                {% if books %}
                    {% for book in books %}
                        <div class="col-sm-4 ftco-animate">
                            <div class="coach align-items-stretch">
                                <img src="{{ vich_uploader_asset(book, 'imageFile') | imagine_filter('book_cover') }}" alt="{{ book.title }}">
                                <div class="text bg-white pt-4 ftco-animate">
                                    <span class="subheading">{{ book.author }}</span>
                                    <h3>{{ book.title }}</h3>
                                        {{ book.description|raw }}
                                    <p><a href="http://www.google.com/search?q={{ book.title }}" target="_blank" class="btn btn-primary">Acheter</a></p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                <div class="col-lg-4 d-flex ftco-animate">
                    Pas d'ouvrage
                </div>
                {% endif %}

            </div>
        </div>
    </section>

{% endblock %}

