{% extends 'admin/admin_base.html.twig' %}

{% block title %}Archives inscriptions{% endblock %}

{% block pageTitle %}Archives des inscriptions{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <div class="toolbar" style="margin-bottom: 2rem;">
                                <!--Here you can write extra buttons/actions for the toolbar-->
                                <a class="btn btn-warning btn-fill btn-wd" href="{{ path('event_registration_index') }}">Retour aux inscriptions</a>
                                <a class="btn btn-primary btn-fill btn-wd pull-right" href="{{ path('excel_export') }}" style="margin-right: 1rem;"><i class="ti-export"></i> Export Excel</a>
                            </div>

                            <table id="workshopTable" class="table table-striped table-no-bordered table-hover mt-2" style="width:100%">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Prénom</th>
                                    <th>Nom</th>
                                    <th>E-Mail</th>
                                    <th>Ville</th>
                                    <th>Pays</th>
                                    <th>Formation</th>
                                    <th>Créé</th>
                                    <th>Modifié</th>
                                    <th>Statut</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for registration in event_registrations %}
                                        <tr>
                                            <td>{{ loop.index }}</td>
                                            <td>{{ registration.firstName }}</td>
                                            <td>{{ registration.lastName }}</td>
                                            <td>{{ registration.email }}</td>
                                            <td>{{ registration.city }}</td>
                                            <td>{{ registration.country }}</td>
                                            <td>{{ registration.event.workshop.title }}</td>
                                            <td>{{ registration.createdAt|format_datetime('medium', 'short',locale='fr') }}</td>
                                            <td>{{ registration.updatedAt|format_datetime('medium', 'short',locale='fr') }}</td>
                                            <td>
                                                {% if registration.status == 'closed' %}
                                                    <span class="badge badge-success">Clôturée</span>
                                                {% elseif registration.status == 'canceled' %}
                                                    <span class="badge badge-success">Annulée</span>
                                                {% endif %}
                                            </td>
                                            <td>
                                                <div>
                                                    {% if registration.invoice %}
                                                        <a rel="tooltip" title="Télécharger la facture" class="btn btn-simple btn-success btn-icon" href="{{ absolute_url(asset('media/cache/invoices/' ~ registration.invoice.fileName)) }}" target="_blank">
                                                            <i class="ti-file"></i>
                                                        </a>
                                                    {% endif %}
                                                </div>
                                            </td>
                                        </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="11">Pas d'archives</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>
    </div>
{% endblock %}
