<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- SEO Meta Tags -->
        <meta name="description" content="La créativité au service de la santé. Art émoi, lieu d'ateliers, de thérapie, de formation et de ressourcement.">
        <meta name="robots" content="index,follow,all">
        <meta name="author" content="Xavier Ribant">

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="Art-Emoi" /> <!-- website name -->
        <meta property="og:site" content="https://www.art-emoi.be" /> <!-- website link -->
        <meta property="og:title" content="Atelier Art-Émoi"/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="La créativité au service de la santé. Art émoi, lieu d'ateliers, de thérapie, de formation et de ressourcement." /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="{{ asset('build/logo-art-emoi.png') }}" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="https://www.art-emoi.be" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

        <title>{% block title %}{% endblock %} | Art-Émoi</title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('build/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('build/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- WebPack CSS Import -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/open-iconic-bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/aos.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/jquery.timepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/flaticon.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/icomoon.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>
        {% block body %}

            <!-- Start NavBar -->
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <div class="row m-auto">
                        <div class="col-12 w-100 text-center">
                            <a class="navbar-brand w-100" href="{{ path('home') }}"><img src="{{ asset('build/logo-art-emoi.png') }}" alt=""></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="oi oi-menu"></span> Menu
                            </button>
                        </div>
                        <div class="col-12 w-100 text-center">
                            <div class="collapse navbar-collapse" id="ftco-nav">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item {% if current_menu == 'home' %}active{% endif %}"><a href="{{ path('home') }}" class="nav-link">Accueil</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Presentation</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Partenaires</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Ouvrages</a></li>
                                    <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END nav -->

            {% block content %}

            {% endblock %}

            <!-- Start Footer -->
            <footer class="ftco-footer ftco-section bg-light">
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Meditative</h2>
                                <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                                <ul class="ftco-footer-social list-unstyled float-lft mt-3">
                                    <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                                    <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4 ml-md-4">
                                <h2 class="ftco-heading-2">Popular Links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">Yoga for Beginners</a></li>
                                    <li><a href="#">Yoga for Pregnant</a></li>
                                    <li><a href="#">Yoga Barre</a></li>
                                    <li><a href="#">Yoga Advance</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Quick Links</h2>
                                <ul class="list-unstyled">
                                    <li><a href="#">Home</a></li>
                                    <li><a href="#">About</a></li>
                                    <li><a href="#">Classes</a></li>
                                    <li><a href="#">Schedule</a></li>
                                    <li><a href="#">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Have a Questions?</h2>
                                <div class="block-23 mb-3">
                                    <ul>
                                        <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Mountain View, San Francisco, California, USA</span></li>
                                        <li><a href="#"><span class="icon icon-phone"></span><span class="text">+2 392 3929 210</span></a></li>
                                        <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@yourdomain.com</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <p class="mb-0">
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                Copyright &copy;<script>
                                    document.write(new Date().getFullYear());

                                </script> All rights reserved | This template is made with <i class="icon-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
                                <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            </p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

            <!-- loader -->
            <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

        {% endblock %}

        {% block javascripts %}
            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-migrate-3.0.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('assets/js/aos.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.animateNumber.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.timepicker.min.js') }}"></script>
            <script src="{{ asset('assets/js/scrollax.min.js') }}"></script>
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
