<!DOCTYPE html>
<html lang="fr">
    <head>
        <script src="{{ asset('assets/tarteaucitron/tarteaucitron.js') }}"></script>
        <script type="text/javascript">
        tarteaucitron.init({
    	  "privacyUrl": "", /* Privacy policy url */
          "bodyPosition": "top", /* or top to bring it as first element for accessibility */

    	  "hashtag": "#tarteaucitron", /* Open the panel with this hashtag */
    	  "cookieName": "tarteaucitron", /* Cookie name */
    
    	  "orientation": "middle", /* Banner position (top - bottom) */
       
          "groupServices": false, /* Group services by category */
          "serviceDefaultState": "wait", /* Default state (true - wait - false) */
                           
    	  "showAlertSmall": false, /* Show the small banner on bottom right */
    	  "cookieslist": false, /* Show the cookie list */
                           
          "closePopup": true, /* Show a close X on the banner */

          "showIcon": true, /* Show cookie icon to manage cookies */
          "iconSrc": "https://www.art-emoi.be/assets/images/cookie.png", /* Optionnal: URL or base64 encoded image */
          "iconPosition": "BottomLeft", /* BottomRight, BottomLeft, TopRight and TopLeft */

    	  "adblocker": false, /* Show a Warning if an adblocker is detected */
                           
          "DenyAllCta" : true, /* Show the deny all button */
          "AcceptAllCta" : true, /* Show the accept all button when highPrivacy on */
          "highPrivacy": true, /* HIGHLY RECOMMANDED Disable auto consent */
                           
    	  "handleBrowserDNTRequest": false, /* If Do Not Track == 1, disallow all */

    	  "removeCredit": false, /* Remove credit link */
    	  "moreInfoLink": true, /* Show more info link */

          "useExternalCss": false, /* If false, the tarteaucitron.css file will be loaded */
          "useExternalJs": false, /* If false, the tarteaucitron.js file will be loaded */

    	  //"cookieDomain": ".my-multisite-domaine.fr", /* Shared cookie for multisite */
                          
          "readmoreLink": "", /* Change the default readmore link */

          "mandatory": true, /* Show a message about mandatory cookies */
          "mandatoryCta": true /* Show the disabled accept button when mandatory on */
        });
        /*
         tarteaucitron.user.matomoId = '2';
        (tarteaucitron.job = tarteaucitron.job || []).push('matomo'); 
        */

        tarteaucitron.user.recaptchaapi = '6LdhBHQdAAAAACHIpYMXOIdUauGz_MtCTVGC7hhN';
        (tarteaucitron.job = tarteaucitron.job || []).push('recaptcha');
        </script>

        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- SEO Meta Tags -->
        <meta name="description" content="Art Emoi, lieu d'ateliers, de thérapie, de formation et de ressourcement. Formation au carnet de deuil, accompagnement du burnout avec le journal Thérapie, atelier du Tarot Créatif, formation et pratique du Carnet Totem">
        <meta name="robots" content="index,follow,all">
        <meta name="author" content="Nathalie Hanot">

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="Art Emoi" /> <!-- website name -->
        <meta property="og:site" content="https://www.art-emoi.be" /> <!-- website link -->
        <meta property="og:title" content="Atelier Art Emoi"/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="Art Emoi, lieu d'ateliers, de thérapie, de formation et de ressourcement. Formation au carnet de deuil, accompagnement du burnout avec le journal Thérapie, atelier du Tarot Créatif, formation et pratique du Carnet Totem" /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="{{ asset('build/logo-art-emoi.png') }}" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="https://www.art-emoi.be" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

        <title>Art Emoi - La créativité au service de la santé</title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

        <!-- Font Awesome Icones -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Cookie consent -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('build/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('build/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- WebPack CSS Import -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/open-iconic-bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/aos.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/jquery.timepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/flaticon.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/icomoon.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- Matomo -->
        <script>tarteaucitron.user.matomoHost = 'https://analytics.mywebcreation.be/';</script>

    </head>
    <body>
        {% block body %}
            <!-- Start NavBar -->
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <div class="row m-auto">
                        <div class="col-12 w-100 text-center">
                            <a class="navbar-brand w-100" href="{{ path('home') }}"><img src="{{ asset('build/logo-art-emoi.png') }}" style="height:6rem;" alt="Art-Émoi"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="oi oi-menu"></span> Menu
                            </button>
                        </div>
                        <div class="col-12 w-100 text-center">
                            <div class="collapse navbar-collapse" id="ftco-nav">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item {% if current_menu == 'home' %}active{% endif %}"><a href="{{ path('home') }}" class="nav-link">Accueil</a></li>
                                    <li class="nav-item {% if current_menu == 'about' %}active{% endif %}"><a href="{{ path('about') }}" class="nav-link">Presentation</a></li>
                                    <li class="nav-item {% if current_menu == 'agenda' %}active{% endif %}"><a href="{{ path('agenda') }}" class="nav-link">Agenda</a></li>

                                    <li class="nav-item dropdown {% if current_menu == 'event' %}active{% endif %}">
                                        <a class="nav-link" data-toggle="dropdown" href="#" role="button" aria-expanded="false">évènements</a>
                                        <div class="dropdown-menu">
                                            {% for item in actuItems %}
                                                <a class="dropdown-item" href="{{ path('front_actu', {'slug': item.slug }) }}">{{ item.title }}</a>
                                            {% else %}
                                                 <a class="dropdown-item" href="#">Pas d'évènement pour le moment</a>
                                            {% endfor %}
                                        </div>
                                    </li>
                                    <li class="nav-item {% if current_menu == 'partners' %}active{% endif %}"><a href="{{ path('front_partners') }}" class="nav-link">Partenaires</a></li>
                                    <li class="nav-item {% if current_menu == 'books' %}active{% endif %}"><a href="{{ path('books') }}" class="nav-link">Ouvrages</a></li>
                                    <li class="nav-item {% if current_menu == 'contact' %}active{% endif %}"><a href="{{ path('contact_form') }}" class="nav-link">Contact</a></li>
                                    <li class="nav-item {% if current_menu == 'cart' %}active{% endif %}">
                                        <a href="{{ path('app_cart') }}" class="nav-link">
                                            <i class="fa-solid fa-cart-shopping"></i>
                                            {% if cart is defined and cart.dataCart is not empty  %}
                                                {% set totalQuantity = 0 %}
                                                <span class="badge">
                                                    {% for item in cart.dataCart %}
                                                        {% set totalQuantity = totalQuantity + item.quantity %}
                                                    {% endfor %}
                                                    {{ totalQuantity }}
                                                </span>
                                            {% endif %}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END nav -->

            {% block content %}

            {% endblock %}

            <!-- Start Footer -->
            <footer class="ftco-footer ftco-section bg-light mt-5">
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Art Émoi</h2>
                                <p>Lieu d'ateliers, de thérapie, de formation et de ressourcement.</p>
                                <ul class="ftco-footer-social list-unstyled float-lft mt-3">
                                    <li class="ftco-animate"><a href="https://www.facebook.com/art.emoi" target="_blank"><span class="icon-facebook"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Sections</h2>
                                <ul class="list-unstyled">
                                    <li><a href="{{ path('home') }}">Accueil</a></li>
                                    <li><a href="#">Présentation</a></li>
                                    <li><a href="#">Partenaires</a></li>
                                    <li><a href="#">Ouvrages</a></li>
                                    <li><a href="{{ path('contact_form') }}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Contact</h2>
                                <div class="block-23 mb-3">
                                    <ul>
                                        <li><a href="#"><span class="icon icon-map-marker"></span><span class="text">Lorcé 68, 4987 Stoumont, Belgique</span></a></li>
                                        <li><a href="mailto:info@art-emoi.be"><span class="icon icon-envelope"></span><span class="text">info@art-emoi.be</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <p class="mb-0">
                                Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script> Tous droits réservés | Art Émoi | <a href="mailto:info@art-emoi.be" title="info@art-emoi.be">info@art-émoi.be</a>
                            <p>Conception web: <a href="https://www.mywebcreation.be" target="_blank" title="My Web Creation">www.mywebcreation.be</a></p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

            <!-- loader -->
            <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

        {% endblock %}

            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-migrate-3.0.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('assets/js/aos.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.animateNumber.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.timepicker.min.js') }}"></script>
            <script src="{{ asset('assets/js/scrollax.min.js') }}"></script>
            <script src="https://player.vimeo.com/api/player.js"></script>
            
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}


    </body>
</html>
