<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- SEO Meta Tags -->
        <meta name="description" content="Art Emoi, lieu d'ateliers, de thérapie, de formation et de ressourcement. Formation au carnet de deuil, accompagnement du burnout avec le journal Thérapie, atelier du Tarot Créatif, formation et pratique du Carnet Totem">
        <meta name="robots" content="index,follow,all">
        <meta name="author" content="Nathalie Hanot">

        <!-- OG Meta Tags to improve the way the post looks when you share the page on Facebook, Twitter, LinkedIn -->
        <meta property="og:site_name" content="Art Emoi" /> <!-- website name -->
        <meta property="og:site" content="https://www.art-emoi.be" /> <!-- website link -->
        <meta property="og:title" content="Atelier Art Emoi"/> <!-- title shown in the actual shared post -->
        <meta property="og:description" content="Art Emoi, lieu d'ateliers, de thérapie, de formation et de ressourcement. Formation au carnet de deuil, accompagnement du burnout avec le journal Thérapie, atelier du Tarot Créatif, formation et pratique du Carnet Totem" /> <!-- description shown in the actual shared post -->
        <meta property="og:image" content="{{ asset('build/logo-art-emoi.png') }}" /> <!-- image link, make sure it's jpg -->
        <meta property="og:url" content="https://www.art-emoi.be" /> <!-- where do you want your post to link to -->
        <meta name="twitter:card" content="summary_large_image"> <!-- to have large image post format in Twitter -->

        <title>Art Emoi - La créativité au service de la santé</title>

        <!-- Google Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">

        <!-- Font Awesome Icones -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />

        <!-- Cookie consent -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />

        <!-- Favicon -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ asset('build/apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ asset('build/favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('build/favicon-16x16.png') }}">
        <link rel="manifest" href="{{ asset('build/site.webmanifest') }}">
        <link rel="mask-icon" href="{{ asset('build/safari-pinned-tab.svg') }}" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">

        <!-- WebPack CSS Import -->
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('assets/css/open-iconic-bootstrap.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/animate.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.carousel.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/owl.theme.default.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/magnific-popup.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/aos.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/ionicons.min.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/bootstrap-datepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/jquery.timepicker.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/flaticon.css') }}">
            <link rel="stylesheet" href="{{ asset('assets/css/icomoon.css') }}">
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        <!-- Matomo
        <script>
            var _paq = window._paq = window._paq || [];
            /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
            _paq.push(['trackPageView']);
            _paq.push(['enableLinkTracking']);
            (function() {
                var u="https://analytics.mywebcreation.be/";
                _paq.push(['setTrackerUrl', u+'matomo.php']);
                _paq.push(['setSiteId', '2']);
                var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
                g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
            })();
        </script>
        -->

    </head>
    <body>
    {{ flasher_render() }}
        {% block body %}
            <!-- Start NavBar -->
            <nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
                <div class="container">
                    <div class="row m-auto">
                        <div class="col-12 w-100 text-center">
                            <a class="navbar-brand w-100" href="{{ path('home') }}"><img src="{{ asset('build/logo-art-emoi.png') }}" style="height:6rem;" alt="Art-Émoi"></a>
                            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
                                <span class="oi oi-menu"></span> Menu
                            </button>
                        </div>
                        <div class="col-12 w-100 text-center">
                            <div class="collapse navbar-collapse" id="ftco-nav">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item {% if current_menu == 'home' %}active{% endif %}"><a href="{{ path('home') }}" class="nav-link">Accueil</a></li>
                                    <li class="nav-item {% if current_menu == 'about' %}active{% endif %}"><a href="{{ path('about') }}" class="nav-link">Presentation</a></li>
                                    <li class="nav-item {% if current_menu == 'agenda' %}active{% endif %}"><a href="{{ path('agenda') }}" class="nav-link">Agenda</a></li>
                                    <li class="nav-item {% if current_menu == 'training' %}active{% endif %}"><a href="{{ path('app_front_training') }}" class="nav-link">Formations</a></li>
                                    <li class="nav-item {% if current_menu == 'partners' %}active{% endif %}"><a href="{{ path('front_partners') }}" class="nav-link">Partenaires</a></li>
                                    <li class="nav-item {% if current_menu == 'books' %}active{% endif %}"><a href="{{ path('books') }}" class="nav-link">Ouvrages</a></li>
                                    <li class="nav-item {% if current_menu == 'contact' %}active{% endif %}"><a href="{{ path('contact_form') }}" class="nav-link">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </nav>
            <!-- END nav -->

            {% block content %}

            {% endblock %}

            <!-- Start Footer -->
            <footer class="ftco-footer ftco-section bg-light mt-5">
                <div class="container">
                    <div class="row d-flex">
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Art Émoi</h2>
                                <p>Lieu d'ateliers, de thérapie, de formation et de ressourcement.</p>
                                <ul class="ftco-footer-social list-unstyled float-lft mt-3">
                                    <li class="ftco-animate"><a href="https://www.facebook.com/art.emoi" target="_blank"><span class="icon-facebook"></span></a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Sections</h2>
                                <ul class="list-unstyled">
                                    <li><a href="{{ path('home') }}">Accueil</a></li>
                                    <li><a href="#">Présentation</a></li>
                                    <li><a href="#">Partenaires</a></li>
                                    <li><a href="#">Ouvrages</a></li>
                                    <li><a href="{{ path('contact_form') }}">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md">
                            <div class="ftco-footer-widget mb-4">
                                <h2 class="ftco-heading-2">Contact</h2>
                                <div class="block-23 mb-3">
                                    <ul>
                                        <li><span class="icon icon-map-marker"></span><span class="text">10 Rue Alphonse Minique, 1450 Saint-Géry, Belgique</span></li>
                                        <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@art-emoi.be</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 text-center">

                            <p class="mb-0">
                                Copyright &copy;<script>
                                    document.write(new Date().getFullYear());
                                </script> Tous droits réservés | Art Émoi | <a href="mailto:info@art-emoi.be" title="info@art-emoi.be">info@art-émoi.be</a>
                            <p>Conception web: <a href="https://www.mywebcreation.be" target="_blank" title="My Web Creation">www.mywebcreation.be</a></p>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->

            <!-- loader -->
            <div id="ftco-loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#F96D00"/></svg></div>

        {% endblock %}

            <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery-migrate-3.0.1.min.js') }}"></script>
            <script src="{{ asset('assets/js/popper.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.easing.1.3.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.waypoints.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.stellar.min.js') }}"></script>
            <script src="{{ asset('assets/js/owl.carousel.min.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.magnific-popup.min.js') }}"></script>
            <script src="{{ asset('assets/js/aos.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.animateNumber.min.js') }}"></script>
            <script src="{{ asset('assets/js/bootstrap-datepicker.js') }}"></script>
            <script src="{{ asset('assets/js/jquery.timepicker.min.js') }}"></script>
            <script src="{{ asset('assets/js/scrollax.min.js') }}"></script>
            <script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
            <script src="https://player.vimeo.com/api/player.js"></script>
            <script>
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#2c396b",
                            "text": "#ffb5b5"
                        },
                        "button": {
                            "background": "#ffb5b5",
                            "text": "#ffffff"
                        }
                    },
                    "content": {
                        "message": "Ce site internet utilise des cookies afin d'améliorer l'expérience utilisateur et pour connaître la provenance des visiteurs.",
                        "dismiss": "J'ai compris",
                        "link": "En savoir plus",
                        "href": "https://www.belgium.be/fr/justice/respect_de_la_vie_privee/protection_des_donnees_personnelles"
                    }
                });
            </script>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}

        {% endblock %}


    </body>
</html>
