
<div class="card-content">
    <div class="toolbar">
        <!--Here you can write extra buttons/actions for the toolbar-->
        <a class="btn btn-sm btn-primary btn-fill" href="{{ path('workshop_video_new', {workshop_slug: workshop.slug}) }}">Nouvelle video</a>
    </div>

    <table class="table">
        <thead>
        <tr>
            <th>#</th>
            <th>Titre</th>
            <th>Modifiée le</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for video in workshop.workshopVideos %}
            <tr>
            <td>{{ loop.index }}</td>
            <td>{{ video.title }}</td>
            <td>{{ video.updatedAt ? video.updatedAt|format_datetime('medium', 'medium',locale='fr') : '' }}</td>
            <td>
                <div>
                    <a rel="tooltip" title="Modifier" class="btn btn-simple btn-warning btn-icon" href="{{ path('workshop_video_edit', {'slug': video.slug, 'workshop_slug': workshop.slug }) }}">
                        <i class="ti-pencil-alt"></i>
                    </a>
                    <form style="display: inline-block;" method="post" action="{{ path('workshop_video_delete', {'slug': video.slug, 'workshop_slug': workshop.slug}) }}" onsubmit="return confirm('Etes-vous certain de vouloir supprimer cette video?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.slug) }}">
                        <button rel="tooltip" title="Supprimer" class="btn btn-simple btn-danger btn-icon"><i class="ti-close"></i></button>
                    </form>
                </div>
            </td>
        {% else %}
            <tr>
                <td colspan="4">Pas de vidéo</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>