{% extends 'admin/admin_base.html.twig' %}

{% block title %}STRIPE Clients{% endblock %}

{% block pageTitle %}STRIPE Clients{% endblock %}

{% block content %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-content">
                            <table id="customer-table" class="table">
                                <thead>
                                    <th>#</th>
                                    <th>Nom</th>
                                    <th>E-Mail</th>
                                    <th>Adresse</th>
                                    <th>Code Postal</th>
                                    <th>Ville</th>
                                    <th>Pays</th>
                                    <th>Téléphone</th>
                                    <th>Création</th>
                                    <th><th>
                                </thead>
                                <tbody>
                                
                                    {% for customer in customers %}
                                    <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{ customer.name }}</td>
                                        <td>{{ customer.email }}</td>
                                        <td>{{ customer.address }}</td>
                                        <td>{{ customer.zipCode }}</td>
                                        <td>{{ customer.city }}</td>
                                        <td>{{ customer.country }}</td>
                                        <td>{{ customer.phone }}</td>
                                        <td>{{ customer.createdAt|format_datetime('medium', 'medium',locale='fr') }}</td>
                                        <td>
                                            <a class="btn btn-sm btn-primary" href="{{ path('app_customer_order_index', {'id': customer.id }) }}"><i class="ti-shopping-cart-full"></i> Achats</button>
                                        </td>
                                    </tr>
                                    {% else %}
                                        <tr>
                                            <td colspan="10">Pas de clients</td>
                                        </tr>
                                    {% endfor %}
                                
                                </tbody>
                            </table>
                        </div>
                    </div><!--  end card  -->
                </div> <!-- end col-md-12 -->
            </div> <!-- end row -->
        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    var $table = $('#customer-table');

    $table.bootstrapTable({
	    toolbar: ".toolbar",
        clickToSelect: true,
        showRefresh: true,
        search: true,
        showToggle: true,
        showColumns: true,
        pagination: true,
        searchAlign: 'left',
        pageSize: 8,
        clickToSelect: false,
        pageList: [8,10,25,50,100],

        formatShowingRows: function(pageFrom, pageTo, totalRows){
            //do nothing here, we don't want to show the text "showing x of y from..."
        },
        formatRecordsPerPage: function(pageNumber){
            return pageNumber + " rows visible";
        },
        icons: {
            refresh: 'fa fa-refresh',
            toggle: 'fa fa-th-list',
            columns: 'fa fa-columns',
            detailOpen: 'fa fa-plus-circle',
            detailClose: 'ti-close'
        }
    });
</script>
{% endblock %}